body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.table-main {
  width: 600px;
  height: 300px;
  padding: 20px;
}

.inputForm {
  color: rgba(255, 255, 255, 0.897);
  text-align: center;
  width: 700px;
  padding: 10px;
}

button {
  background-color: rgb(64, 115, 197);
  color: white;
  padding: 5px;
}

